@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .headerLink {
      @apply cursor-pointer opacity-75 transition hover:opacity-100;
    }
  
    .headerIcon {
      @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
    }
    .title {
      @apply bg-blue-600 hover:bg-blue-700 rounded-full w-32 h-8 text-white font-bold before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100
    }
    .text {
      @apply bg-slate-100 rounded-full hover:bg-slate-200 w-20 h-6 font-bold before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-black before:transition-all before:duration-200 hover:before:scale-x-100
    }
    .tabPanel {
      @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
    }
    .likes {
      @apply mb-16 flex h-6 w-6 flex-shrink-0 cursor-pointer items-center justify-center rounded-full bg-gradient-to-r from-pink-500 to-violet-500 md:h-[40px] md:w-[40px]
    }
    .allOfItem {
      justify-content: space-evenly; 
      align-items: center; 
      text-align: center; 
      border-radius: 5%;
    }
    .input-common{
      outline: none;
      border-radius: 5%;
      box-sizing:border-box;
      text-align: center;
      width: 300px;
    }
  
    .br{
      border-left:1px solid #000;
      height:500px;
    }
    .input-icons {
      position:relative;
    }
    .iconname {
      height: 1.5rem;
      width: 1.5rem;
      padding: 4px;
      position: absolute;
      box-sizing:border-box;
      top:55%;
      left:20px;
    }
    ::-webkit-input-placeholder {
      padding-left: 1.1rem;
    }
    .icon {
      height: 1.5rem;
      width: 1.5rem;
      padding: 4px;
      position: absolute;
      box-sizing:border-box;
      top:30%;
      left:20px;
    }
    .hr {
      border:0.1px solid rgb(201, 198, 198);
    }
    input[type=checkbox]{
      width: 1em;
      height: 1em;
      color: darkgray;
    }
  
}